#content {
	margin: 0 auto;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

/** Styling for Input Box */
textarea{
	width: 85%;
	margin: 0 auto;
	max-width: 100%;
}
iframe {
	width: 80%;
	margin: 0 auto;
}

/** Styling for Romaji Display */
#romaji {
	white-space: pre-wrap;
	padding: 2%;
	display: block;
	overflow-y: scroll;
	word-wrap: break-word;
}

/** Styling for Text Glossing */
#textGlossing {
	margin: 2%;
}
table {
  	width: 100%;
}
table, td {
	border-collapse: collapse;
	border: 1px solid #000;
}
thead {
	display: table;
	width: 100%;
	background-color: #FEF9E7;
	font-weight: bold;
}
tbody {
	display: block;
	max-height: 200px;
	overflow-y: scroll;
}
th, td.col {
	width: 18%;
}
th, td.col1 {
	width: 14%;
}
th, td.col2 {
	width: 48%;
}
tr {
	display: table;
	width: 100%;
	box-sizing: border-box;
}
td {
	text-align: center;
	border-bottom: none;
	border-left: none;
	padding: 1%;
	font-size: 16px;
}

.panel-selection {
	margin: 2%;
}

#quickSearch {
	margin-left: 5%;
	margin-top: 2%;
}