<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="rawtext-tile">
    <form>
      <mat-form-field class="rawtext-form">
        <textarea matInput #rawtext placeholder="Raw text here"></textarea>
      </mat-form-field>
      <button mat-raised-button class="process-button" onclick="processText()">Process</button>
    </form>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="romaji-placeholder">Romaji Placeholder</div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <div class="textglossing-placeholder">Text Glossing Placeholder</div>
  </mat-grid-tile>
</mat-grid-list>

